@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-thin {
        scrollbar-width: thin; /* Firefox */
    }

    .scrollbar-none {
        scrollbar-width: none; /* Hide scrollbar */
    }

    .scrollbar {
        overflow-y: auto;
    }

    /* WebKit Scrollbar (Chrome, Safari, Edge) */
    .scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: #f3f4f6;
        border-radius: 10px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #9ca3af;
        border-radius: 10px;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #6b7280;
    }
}

/* Base button styles */
.btn {
    @apply inline-flex items-center justify-center text-center font-medium transition duration-150 ease-in-out;
    @apply focus:outline-none focus:ring-4;
    @apply rounded-lg gap-2;
}

/* Colors */
.btn.btn-primary {
    @apply bg-blue-600 hover:bg-blue-800 text-white focus:ring-blue-300 dark:focus:ring-blue-800;
}

.btn.btn-secondary {
    @apply bg-gray-600 hover:bg-gray-800 text-white focus:ring-gray-300 dark:focus:ring-gray-800;
}

.btn.btn-warning {
    @apply bg-yellow-600 hover:bg-yellow-800 text-white focus:ring-yellow-300 dark:focus:ring-yellow-800;
}

.btn.btn-danger {
    @apply bg-red-600 hover:bg-red-800 text-white focus:ring-red-300 dark:focus:ring-red-800;
}

.btn.btn-info {
    @apply bg-indigo-600 hover:bg-indigo-800 text-white focus:ring-indigo-300 dark:focus:ring-indigo-800;
}

.btn.btn-success {
    @apply bg-green-600 hover:bg-green-800 text-white focus:ring-green-300 dark:focus:ring-green-800;
}

.btn.btn-white {
    @apply bg-white hover:bg-gray-800 text-white focus:ring-gray-300 dark:focus:ring-gray-800;
}

/* Outlined styles */
.btn.btn-outlined {
    @apply border bg-transparent hover:text-white;
}

.btn.btn-outlined.btn-primary {
    @apply border-blue-600 text-blue-600 hover:text-white;
}

.btn.btn-outlined.btn-secondary {
    @apply border-gray-600 text-gray-600 hover:text-white;
}

.btn.btn-outlined.btn-warning {
    @apply border-yellow-600 text-yellow-600 hover:text-white;
}

.btn.btn-outlined.btn-danger {
    @apply border-red-600 text-red-600 hover:text-white;
}

.btn.btn-outlined.btn-info {
    @apply border-indigo-600 text-indigo-600 hover:text-white;
}

.btn.btn-outlined.btn-success {
    @apply border-green-600 text-green-600 hover:text-white;
}

.btn.btn-outlined.btn-white {
    @apply border-gray-600 text-gray-600 hover:text-white;
}



/* Text button styles */
.btn.btn-text {
    @apply bg-transparent shadow-none;
}

.btn.btn-text.btn-primary {
    @apply text-blue-600 hover:text-white;
}

.btn.btn-text.btn-secondary {
    @apply text-gray-600 hover:text-white;
}

.btn.btn-text.btn-warning {
    @apply text-yellow-600 hover:text-white;
}

.btn.btn-text.btn-danger {
    @apply text-red-600 hover:text-white;
}

.btn.btn-text.btn-info {
    @apply text-indigo-600 hover:text-white;
}

.btn.btn-text.btn-success {
    @apply text-green-600 hover:text-white;
}

.btn.btn-text.btn-white {
    @apply text-white hover:text-white;
}


/* Rounded button */
.btn.btn-rounded {
    @apply rounded-full;
}

/* Disabled state */
.btn.btn-disabled {
    @apply opacity-50 cursor-not-allowed;
}

/* Button Sizes */
.btn-xs {
    @apply text-xs px-3 py-2;
}

.btn-sm {
    @apply text-sm px-3 py-2;
}

.btn-base {
    @apply text-sm px-5 py-2.5;
}

.btn-lg {
    @apply text-base px-5 py-3;
}

.btn-xl {
    @apply text-base px-6 py-3.5;
}

/* Icon Sizes (Using Padding Instead of w/h) */
.btn-xs.btn-icon {
    @apply p-2 text-xs;
}

.btn-sm.btn-icon {
    @apply p-2 text-sm;
}

.btn-base.btn-icon {
    @apply p-2.5 text-sm;
}

.btn-lg.btn-icon {
    @apply p-3 text-base;
}

.btn-xl.btn-icon {
    @apply p-3.5 text-base;
}

/* Icon Spacing */
.btn.btn-icon-left {
    @apply mr-2;
}

.btn.btn-icon-right {
    @apply ml-2;
}

.btn.btn-xs .icon {
    @apply w-3 h-3;
}

.btn.btn-sm .icon {
    @apply w-3 h-3;
}

.btn.btn-base .icon {
    @apply w-4 h-4;
}

.btn.btn-lg .icon {
    @apply w-5 h-5;
}

.btn.btn-xl .icon {
    @apply w-5 h-5;
}